
a{
  text-decoration: none;
}

#loading {
    width: 100%;
    height: 100%;
    background:no-repeat center center #fff;
    position: fixed;
    opacity: 0.7;
	  display : none;
	  cursor : progress;
    margin : 0 auto;
}

table , .mainTable {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	margin-top : 20px;
  margin-left:10px;

}
#validations{
  height: 1500px;
}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

 tr:nth-child(even):not(.extraRow) {
	background-color: #dddddd;
}


.extraRow{
	border : 2px solid black;
	background-color:#D3D3D3;
}





.glyphicon{
  cursor : pointer;
  padding: 5px;
}

div[id^=pop]{
  border-radius: 5px;
  border: 2px solid black;
}

div[id^=pop] img{
  width: 18rem;
  height: 300px;
  border-radius: 5px;
}

.card{
  width: 18rem;
  background-color: white;
  position: relative;
  margin-left: 50px;
}



.rating {
	direction: rtl;
	margin-top: 7px;
	width: 110px;
}

.rating > span {
	display: inline-block;
	position: relative;
	width: 15px;
}

.rating > span:before {
	content: "\2605";
	color: gray;
}

.rating > span.active:before,
    .rating > span.active ~ span:before {
	color: #fdcf03;
}

.rating.can-hover > span {
	cursor: pointer;
}

.rating.can-hover > span:hover:before, .rating.can-hover > span:hover ~ span:before {
	color: #fdcf03;
}

.no-hover {
	text-decoration: line-through;
}
