{% extends 'layout.html' %}

{% block body %}
  <div class="panel panel-default text-center">


    {% if not session.logged_in%}
      <h1>Please login or register</h1>
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% else %}
      <h1>Welcome back {{session.username}}</h1>
    {% endif %}
  </div>
  {% if err %}
    <h1>{{err}}</h1>
  {%endif%}





    <!-- Features -->
    <div class="features-container section-container">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 features section-description wow fadeIn">
                  <h2>Israel National Library</h2>
                  <div class="divider-1"><div class="line"></div></div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                  <div class="col-sm-3 features-box-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="col-sm-9">
                    <h3>Follow Israel National Library on <a href="https://twitter.com/NLIsrael">Twitter</a></h3>
                    <!--<h3>Follow JCE on <a href="https://twitter.com/NLIsrael">Twitter</a></h3>-->

                  </div>
                </div>
              </div>
              <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                  <div class="col-sm-3 features-box-icon">
                    <i class="fa fa-instagram"></i>
                  </div>
                  <div class="col-sm-9">
                    <h3>Follow Israel National Library on <a href="http://instagram.com/nli_israel">Instagram</a></h3>
                    <h3>Follow JCE on <a href="https://www.instagram.com/azrieli_college/">Instagram</a></h3>
                  </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                  <div class="col-sm-3 features-box-icon">
                    <i class="fa fa-magic"></i>
                  </div>
                  <div class="col-sm-9">
                    <h3>Visit our <a href="https://dashboard.heroku.com/apps/shrouded-retreat-55489">Heroku repository</a></h3>
                      <p>
                        In order to access Heroku Dashboard, you must be added by admin. Please contact me on
                        <a href="mailto:roysha1@gmail.com">mail</a>
                      </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                  <div class="col-sm-3 features-box-icon">
                    <i class="fa fa-cloud"></i>
                  </div>
                  <div class="col-sm-9">
                    <h3>Visit our ptoject on <a href="https://console.cloud.google.com/home/dashboard?project=flask-199022">Google Cloud</a></h3>
                      <p>
                        In order to access Google Cloud Platform, you must be added by admin. Please contact me on
                        <a href="mailto:roysha1@gmail.com">mail</a>
                      </p>
                  </div>
                </div>
              </div>
          </div>

      </div>
    </div>


{% endblock %}
