{% extends 'layout.html' %}

{% block body %}
  <h1>Insert manual recommendation</h1>
  <form action='' method = 'post' class='form-inline'>



      <label class="sr-only">Book1</label>
      <input type ='text' class ='form-control mb-2 mr-sm-2 mb-sm-0' name ='book1'   autocomplete="off" placeholder="Book Id (e.g. '254861213')">

      <label class="sr-only">Book2</label>
      <input type ='text' class ='form-control mb-2 mr-sm-2 mb-sm-0' name ='book2'   autocomplete="off" placeholder="Book Id (e.g. '254861213')">

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">.</div>
        <input type ='text' class ='form-control mb-2 mr-sm-2 mb-sm-0' name ='sim_rate'   autocomplete="off" placeholder="Similarity rate (e.g. 0.856)">
      </div>

    <button type='submit' class='btn btn-primary'>Insert</button>
  </form>
  {% if msg %}
    <h1>{{msg}}</h1>
  {%endif%}
{% endblock %}
