<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NLI Recommendation System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}"/>
    <script type="text/javascript" src="{{url_for('static',filename='js/validate.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/animate.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='ico/apple-touch-icon-144-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='ico/apple-touch-icon-114-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='ico/apple-touch-icon-72-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='ico/apple-touch-icon-57-precomposed.png')}}">
  </head>

  <body>
    <!-- Top menu -->
  <nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Faq</a></li>
          {% if session.logged_in %}
          <li><a href="/insert_rec">Add Rec.</a></li>
          <li><a href="/validate">Validate</a></li>
          <li><a class="btn btn-link-3" href="/logout">{{session.username}} Logout</a></li>
          {% else %}
          <li><a class="btn btn-link-3" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


    <!-- Top content -->
      <div class="top-content">
        <div class="container">
      <div class="row">
        <div class="col-sm-12 text wow fadeInLeft">
          <h1>Israel National Library - Validators Dashboard</h1>

          <div class="description">
            <p class="medium-paragraph">
              This is a book recommendation system</br>
              Developed as part of Final Project in <a href="https://www.jce.ac.il/" target="_blank">JCE</a>.
            </p>
          </div>
        </div>
      </div>
          </div>
      </div>


      {% block body %}{% endblock %}
  </div>
  <!-- Javascript -->
  <script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.backstretch.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/retina-1.1.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
  <div class="footer-bottom">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
  				<div class="copyright">
  					© 2018, Roy Shani & <a href="https://www.jce.ac.il/" target="_blank">JCE</a>, All rights reserved
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</html>
