{% extends 'layout.html' %}

{% block body %}

<h1>Registration</h1>
<form action='' method = 'post'>
  <div class='form-group'>
    <label>UserName:</label>
    <input type ='text' name ='username' class ='form-control'  autocomplete="off">
    <label>Password:</label>
    <input type ='password' name ='password' class ='form-control' autocomplete="off">
  </div>
  <button type='submit' class='btn btn-primary'>Register</button>
</form>

{% if err %}
  <h1>{{err}}</h1>
{%endif%}
{% endblock %}
