{% extends 'layout.html' %}

{% block body %}

	<h1>Search</h1>
	<form action='' method = 'post'>
		<div class='form-group'>
			<label>Book ID:</label>
			<input type ='text' name ='bookID' class ='form-control' value={{request.form.bookID}}>
			
		</div>
		<button type='submit' class='btn btn-primary'>Search</button>
	</form>
	{% if logged_in %}
		<h1>{{logged_in}}</h1>
	{%endif%}
{% endblock %}