{% extends 'layout.html' %}

<script type="text/javascript" src="{{url_for('static',filename='js/validate.js')}}"></script>
{% block body %}
    <div id="loading" >
      <img  src="{{url_for('static',filename='img/Spinner.gif')}}"/>
    </div>
  {% if randBooks is not none %}


   <label for="recsAmount">Number of recommendations</label>
    <select  id="recsAmount">
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>

    </select>


    <div id='info'>

    </div>

<div id="validations">


   <table class="mainTable table table-bordered ">
     <thead class="thead-dark">
       <tr>
         <th scope="col">#</th>
         <th scope="col">Book1</th>
         <th scope="col">Book2</th>
         <th scope="col">Sim. Rate</th>
         <th scope="col" class="verification">Your Rating</th>

       </tr>
     </thead>


     <tbody>


      {% for book in randBooks%}
        <tr id="{{ loop.index }}">
    			<th scope="row"><span>{{book.rec_id}}</span></th>
    			<td id="{{book.book1}}"><span class='book'>{{book.book1}}</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
            <span class="glyphicon glyphicon-info-sign info"></span>
          </td>
          <td id="{{book.book2}}"><span class='book'>{{book.book2}}</span>
            <span class="glyphicon glyphicon-info-sign info"></span>
          </td>
          <td>{{book.sim_rate}}</td>
          <td class="verification rating can-hover">
            <span id='rate5' name="{{book.rec_id}}"></span>
            <span id='rate4' name="{{book.rec_id}}"></span>
            <span id='rate3' name="{{book.rec_id}}"></span>
            <span id='rate2' name="{{book.rec_id}}"></span>
            <span id='rate1' name="{{book.rec_id}}"></span>
          </td>
    		</tr>
      {% endfor %}

      </tbody>
    </table>
    </div>
  {% endif %}

{% endblock %}
